{% extends 'AcmeCalculatorUIBundle:Layout:base.html.twig' %}
{% from 'AcmeCalculatorUIBundle:Common:computeForm.html.twig' import computeForm %}

{% block css %}
    {% stylesheets
    '@AcmeCalculatorUIBundle/Resources/public/css/third-parties/*'
    '@AcmeCalculatorUIBundle/Resources/public/css/common/*'
    '@AcmeCalculatorUIBundle/Resources/public/css/home/*'
    filter='cssembed,?yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block title %}{% trans %}seo.title.homepage{% endtrans %}{% endblock %}

{% block h1 %}<h1>{% trans %}seo.h1.homepage{% endtrans %}</h1>{% endblock %}

{% block javascript %}
    {% set jsSources = "" %}
    {% javascripts
        '@AcmeCalculatorUIBundle/Resources/public/js/third-parties/*'
        '@AcmeCalculatorUIBundle/Resources/public/js/common/*'
        '@AcmeCalculatorUIBundle/Resources/public/js/home/*'
        filter='?yui_js' %}
        {% set jsSources = (jsSources == "") ? asset_url : jsSources ~ "|" ~ asset_url%}
    {% endjavascripts %}
    {{jsSources}}
{% endblock %}

{% block main %}
    {{ computeForm() }}
{% endblock %}