<!DOCTYPE html>
<html>
<head>
    <title>Calculator V1</title>
</head>
<body>
<h1>Result</h1>
    <span>
        {{ operand_a.value }}
        {{ operator.label }}
        {{ operand_b.value }}
        =
        {{ result.value }}
    </span>
</body>
</html>
