<!DOCTYPE html>
<html>
<head>
    <title>Calculator V1</title>
</head>
<body>
<h1>Result</h1>
    <span>
        {{ operation.operandA.value }}
        {{ operation.operator.label }}
        {{ operation.operandB.value }}
        =
        {{ operation.result.value }}
    </span>
</body>
</html>
