<!DOCTYPE html>
<html>
<head>
    <title>Calculator V1</title>
</head>
<body>
    <h1>Calculator</h1>
    <form action="compute">
        <label for="operand-a">Operand A</label>
        <input name="operand-a" id="operand-a" />
        <label for="operator">Operator</label>
        <select name="operator" id="operator">
            {% for operator in operators %}
                <option value="{{ operator.id | escape('html_attr') }}">{{ operator.label }}</option>
            {% endfor %}
        </select>
        <label for="operand-b">Operand B</label>
        <input name="operand-b" id="operand-b" />
        <button>Compute</button>
    </form>
</body>
</html>
