<!DOCTYPE html>
<html>
<head>
    <title>Calculator V1</title>
</head>
<body>
    <h1>Calculator</h1>
    <form action="compute">
        <label for="operand-a">Operand A</label>
        <input name="operand-a" id="operand-a" />
        <label for="operator">Operator</label>
        <select name="operator" id="operator">
            <option value="add">+</option>
            <option value="substract">-</option>
            <option value="multiply">*</option>
            <option value="divide">/</option>
        </select>
        <label for="operand-b">Operand B</label>
        <input name="operand-b" id="operand-b" />
        <button>Compute</button>
    </form>
</body>
</html>
