<footer>
    <ul>
        <li>
            <a href="{{ path('acme_calculator_ui_footer_contact_us') }}">Contact Us</a>
        </li>
        <li>
            <a href="{{ path('acme_calculator_ui_footer_legal') }}">Legal</a>
        </li>
        <li>
            <a href="{{ path('acme_calculator_ui_footer_confidentiality') }}">Confidentiality</a>
        </li>
        <li class="jobs">
            <a href="{{ path('acme_calculator_ui_footer_jobs') }}">Jobs</a>
        </li>
    </ul>
</footer>